.hidden {
  display: none;
  z-index: 1050;
}
.none {
  display: none;
}
.show {
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 225, 225, 0.1);
  backdrop-filter: blur(3px);
  display: block;
  z-index: 1000;
  pointer-events: none;
}

.modal-dialog {
  width: 500px;
  position: absolute;
  top: calc(50% - 284px);
  left: calc(50% - 250px);
}
